.wrapper-bg {
  background: linear-gradient(107.89deg, #E1DDDB 0%, #F2F1ED 21.28%, #FDFCF9 65.53%, #E6E0DD 100.12%);;
}

.banner {
  padding-top: 50px;


  &__wrapper {
    padding-bottom: 134px;

    @media (max-width: 960px) {
      padding-bottom: 30px;
    }
  }

  &__img {
    right: 0;
    top: 0;
    height: 100%;

    @media (max-width: 960px) {
      opacity: 0.6;
    }

    img {
      height: 100%;

      @media (max-width: 768px) {
        height: 75%;
      }
    }
  }

  .main-content {
    width: 59%;
    z-index: 1;


    @media (max-width: 960px) {
      width: 100%;
    }

    &__title {
      font-weight: bold;
      font-size: 46px;
      line-height: 66px;
      color: $d-black;
      margin-bottom: 24px;

      @media (max-width: 768px) {
        font-size: 26px;
        line-height: 1.3em;
      }
    }

    &__paragraph {
      color: $d-black;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.01em;
      margin-bottom: 36px;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 0;
      }
    }

    &__buttons {
      @media (max-width: 380px) {
        flex-direction: column;
      }

      .btn {
        @media (max-width: 380px) {
          max-width: 160px;
          margin-bottom: 5px;
          margin-left: 0;
        }
      }
    }
  }

  .subcontent {
    padding: 20px;
    background-color: #CED5D8;

    &__paragraph {
      margin-bottom: 0;
      color: $d-black;
    }
  }
}