.smart-labels {
  padding: 64px 0;
  background: linear-gradient(0deg, rgba(85, 202, 232, 0.07) 0%, rgba(196, 196, 196, 0) 40.2%);

  &__title {
    width: 63%;
    margin: 0 auto 37px;
    text-align: center;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__content {
    width: 920px;
    margin: 0 auto;

    @media (max-width: 920px) {
      width: 100%;
    }

    img {
      width: auto;
      max-width: none;

      @media (max-width: 768px) {
       max-width: 100%;
        width: 100%;
      }
    }
  }

  .block {
    margin-bottom: 50px;

    @media (max-width: 520px) {
      width: 100%;
    }

    &__text {
      width: 49%;
      font-weight: 500;
      font-size: 15px;
      line-height: 26px;
      color: $d-black;

      @media (max-width: 768px) {
        width: 98%;
      }
    }

    &__img {
      @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
      }

      &_more {
        img {
          @media (max-width: 768px) {
            width: 30%;
          }
        }

        img:last-child{
          @media (max-width: 768px) {
            left: -48px;
            bottom: -16px;
            width: 62%;
          }
        }
      }
    }
  }

  &__block:nth-child(2) {
    width: calc(100% - 50px);
    margin-left: auto;

    @media (max-width: 960px) {
      margin-left: 0;
      width: 100%;
    }

    .img-absolute {
      left: 32%;
      top: -24%;

      @media (max-width: 768px) {
        width: 50%;
        max-width: none;
      }
    }

    &__text {
      margin-right: auto;
    }
  }

  &__block:nth-child(3) {

    &__img {
      width: 50%;
    }

    img:last-child {
      left: -63px;
      bottom: -21px;
    }

    img:nth-child(2) {
      z-index: 1;
    }

    img:first-child {
      z-index: 2;
      left: 5px;
      height: 100%;
    }
  }
}